@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap'); /* Lexend font */

/* COLOR PALETTE */
/* #FFF8E8 */
/* #F7EED3 */
/* #AAB396 */
/* #674636 */
/* https://colorhunt.co/palette/fff8e8f7eed3aab396674636 */

p, a, h1, h2, h3, h4, h5, label, button, span, .button, textarea, input, table {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #674636;
    transition: ease-in-out 0.15s;
}

h1, h5 {
    text-align: center;
}

body {
    background-color: #FFF8E8;
    margin: 0;
}

nav {
    background-color: #AAB396;
    padding: 1.5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #FFF8E8;
}

nav img {
    width: 3vw;
}

a:hover {
    color: #FFF8E8;
}

main {
    padding: 1vw;
    min-height: 75vh;
}

#articles article {
    background-color: #F7EED3;
    padding: 2vw;
    border-radius: 0.5vw;
    width: 25vw;
    height: 35vh;
    margin-bottom: 2vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#articles article h3 {
    margin-bottom: 0;
}

#articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button {
    background-color: #674636;
    text-decoration: none;
    color: #FFF8E8;
    padding: 1vh;
    border-radius: 1vh;

    display: flex;
    justify-content: center;
}

.button:hover {
    background-color: #453229
}

footer {
    background-color: #AAB396;
    padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
}

footer img {
    width: 7vw;
}

input {
    height: 2vw;
    border: 1px solid #AAB396;
    border-radius: 1vh;
}

textarea {
    border: 1px solid #AAB396;
    border-radius: 1vh;
}

form div {
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
}

form label {
    padding-bottom: 1vh;
}

form .button {
    margin: 1vw 0;
    padding: 1vw;
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0 20vw;
}

#details {
    display: flex;
    flex-direction: column;
    padding: 0 20vw;
}

#home {
    padding: 0 20vw;
}

#home img {
    border-radius: 1vh;
    object-fit: cover;
    height: 40vh;
}

#home div {
    display: flex;
    gap: 1vw;
    align-items: center;
}

#comments {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#comments span {
    color: #AAB396;
}

#articles article div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    margin: 0;
    font-size: 0.7rem;
}

.category {
    font-size: 0.7rem;
    background-color: #AAB396;
    padding: 1vh;
    border-radius: 1vh;
}

#details div {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-bottom: 2vh;
}

#details img {
    height: 70vh;
    object-fit: contain;
}

#comments div {
    background-color: #AAB396;
    padding: 1vh;
    border-radius: 1vh;
    width: 50vw;
    margin: 1vh;
}

.article-actions {
    display: flex;
    align-items: center;
    padding: 0 20vw;
    justify-content: space-evenly;
}

.article-actions form {
    padding: 0;
}

.article-actions form .button {
    margin: 0;
}

.article-actions .button {
    padding: 1vh 12vw;
}

header {
    padding-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header h5 {
    font-style: italic;
    font-size: 1rem;
}

table {
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
}

td {
    padding: 1vh 1vw;
    width: 11vw;
}

thead {
    background-color: #AAB396;
}

table form {
    padding: 0;
}

#search, #filter {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    gap: 1vw;
    align-items: center;
}

#search input {
    height: 6vh;
}

.searchbar {
    width: 30vw;
    margin-left: 2vw;
}

.logocenter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

#searchfilter {
    display: flex;
    align-items: center;
    justify-content: center;
}
